@{
    <!DOCTYPE html>
<body>
    <main>
        <h1>Conversor de Horas</h1>
        <section class="conteudos">
            <div class="form-group">
                <label for="valorEmTempo"><i class="fa-regular fa-clock"></i></label>
                <input type="number" name="valorEmTempo" id="valorEmTempo" class="input" step="0.01" min="0.00"
                    max="9999999999.99" value="" tabindex="1" onClick="ativarBotao()" onChange="ativarBotao()" autofocus
                    required />
            </div>

            <!--HORAS-->
            <div class="form-group">
                <input type="radio" id="horas" name="tempoSelecionado" class="input radio" value="Horas" tabindex="2" />
                <label for="horas">Horas</label>

                <!--MINUTOS-->
                <input type="radio" id="minutos" name="tempoSelecionado" class="input radio" value="Minutos"
                    tabindex="3" />
                <label for="minutos">Minutos</label>
            </div>

            <!--BOTÕES CONVERTER E LIMPAR-->
            <div class="form-group">
                <button class='desativado botao' id='btnConverter' onClick='ativarBotao(); bloquearBotao()'
                    disabled>Converter</button>
                <button type="reset" class='botao' id='btnLimpar' tabindex="7">Limpar</button>
            </div>
        </section>

        <!--MENSAGEM DE AVISO-->
        <div class="instrucoes">
            <p class="centro" id="aviso">Digite um número e escolha a conversão.</p>
        </div>
        <br>
    </main>

</body>
}
